/bin
/gen
.classpath
.gradle/
.idea/
.project
.settings/
TimeOfWitch-release.apk
TimeOfWitch.iml
build.gradle
build/
captures/
gradle/
gradlew
gradlew.bat
lint.xml
local.properties
proguard-project.txt
project.properties
*.class